.red {
  color: #c0392b;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  background-color: #27ae60;
  color: white;
  font: inherit;
  border: 1px solid #27ae60;
  padding: 8px 25px 8px 25px;
  cursor: pointer;
  border-radius: 3px;
}
.Cockpit button:hover {
  background-color: #2ecc71;
}
.Cockpit button:focus {
  outline: 0;
}

.Cockpit button.Red {
  background-color: #c0392b;
  border: 1px solid #c0392b;
}

.Cockpit button.Red:hover {
  background-color: #e74c3c;
}
